*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}

input {
    caret-color: transparent;
   }    

#navbar{
    position: relative;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
#logo{
    content: url(imgs/logo.png);
    height: 30px;
    width: 30px;

}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.inner_cont{
    margin: auto;
}
.nav_child{
    margin: auto 0;
    display: inline-block;
}
#searchbar{
    background-color: none;
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}
#src_input{
    border: 2px rgba(0, 0, 0, 0.326) solid;
    border-radius: 5px;
    width: 100%;
    background-image: url(imgs/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-size: 10%;
    padding: 3px 12px 3px 12px;
}
#search_icon{
    height: 70%;
    margin: auto 0;
}
#sell_btn input{
    height: 40px;
    width: 150px;
    border-radius: 18px;
    border: 1px solid white;
}
#pfp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.panels{
    display: flex;
    justify-content: space-between;
}
.panel{
    margin: 10px;
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.153);
}
#marketplace{
    overflow-x: hidden;
}
#fir{
    background-image: url(imgs/prod.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
#fir h1{
    position: relative;
    top: 300px;
}
#sec{
    background-image: url(imgs/prod1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
#sec h1{
    position: relative;
    top: 300px;
}
#thr{
    background-image: url(imgs/prod3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150px;
}
#thr h1{
    position: relative;
    top: 300px;
}
#for{

    background-image: url(imgs/prod4.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 200px;
}
#for h1{
    position: relative;
    top: 300px;
}